:root {
    --azul-1: hsl(220, 100%, 90%);
    --azul-2: hsl(220, 100%, 70%);
    --azul-6: hsl(220, 100%, 5%);
    --naranja: hsl(40, 100%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 62.5%;
}

.body-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--azul-1);
    background-color: var(--azul-6);
}

.main-container {

    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    main {

        & .inputs {

            & .item {
                border-top: 1px solid var(--azul-2);

                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                padding-block: 1.5rem;

                & .item-p {
                    font-size: clamp(1rem, 3cqw, 2rem);
                    letter-spacing: 1.2px;
                    flex: 1;
                }

                & .item-input {

                    & input {
                        width: 20cqw;
                        font-size: clamp(1rem, 3cqw, 2rem);
                        text-align: center;
                        background-color: var(--azul-1);
                        -moz-appearance: textfield;
                        /* Firefox */
                        appearance: textfield;
                    }
                }
            }

            & :nth-child(3) {
                border-bottom: 1px solid var(--azul-2);
            }
        }

        & .output {
            margin-top: 2rem;
            background-color: var(--azul-2);
            border-radius: 8px;
            padding: .5rem;
            font-size: clamp(1rem, 3cqw, 3rem);

            & p {

                text-align: center;
                letter-spacing: 1.5px;
                font-weight: 900;

                & span {
                    color: var(--azul-6);
                }
            }
        }
    }
}


footer {
    position: absolute;
    bottom: 0;
    font-family: "Whisper";
    letter-spacing: 2px;
    font-size: clamp(.5rem, 3cqw, 1.5rem);
    width: 100%;
    height: 5vh;
    background-color: var(--naranja);
    color: var(--azul-6);
    display: grid;
    place-items: center;
}