* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: #7c6a0a;
  font-family: "IBM Plex Sans", sans-serif;
}

p,
a,
span {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* SCROLLBAR FASHION */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #fff8f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ffdac6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fa9500;
}

.body__wrapper {
  padding: 0cqw;
}

nav,
header,
main,
footer {
  padding: 2cqw 4cqw;
}

nav,
main {
  background-color: #ffefe7;
}

header {
  background-color: #fff8f5;
  padding-bottom: 2rem;
}

footer {
  background-color: #fa9500;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

button {
  background: none;
  border-style: none;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
}
.nav__wrapper .nav-title h1 {
  font-size: 3cqb;
  font-weight: 700;
  color: #7c6a0a;
  text-shadow: 0.2cqb 0.2cqb 1px #babd8d;
}
.nav__wrapper .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2cqw;
}
.nav__wrapper .nav-menu img {
  width: clamp(20px, 4.5cqw, 50px);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 5%;
  container-type: inline-size;
}
.header__wrapper .header__info {
  min-width: 290px;
  max-width: 50%;
  margin-inline: auto;
}
.header__wrapper .header__info h2 {
  font-size: clamp(1.4rem, 4cqw, 4rem);
  font-weight: 700;
  color: #7c6a0a;
  padding-top: 3cqb;
  padding-bottom: 3cqb;
}
.header__wrapper .header__info p {
  font-size: clamp(0.85rem, 2.5cqw, 2.5rem);
  font-weight: 400;
  color: #7c6a0a;
  padding-bottom: 3cqb;
  line-height: 1.8;
}
.header__wrapper .header__info div {
  background-color: #fa9500;
  width: clamp(120px, 24cqw, 300px);
  aspect-ratio: 4/1;
  margin-inline: auto;
  border-radius: 35px;
  text-align: center;
  container-type: inline-size;
  margin-top: 5cqw;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 500ms linear;
}
.header__wrapper .header__info div:hover {
  transform: scale(1.1);
}
.header__wrapper .header__info div span {
  font-size: 2.25cqb;
  font-weight: 400;
  color: #fff;
  display: inline-block;
}
.header__wrapper .header__image {
  min-width: 290px;
  max-width: 45%;
  width: clamp(290px, 45%, 450px);
  margin-inline: auto;
}
.header__wrapper .header__image img {
  width: 100%;
  aspect-ratio: 7/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.main__wrapper {
  container-type: inline-size;
}

.main-title {
  font-size: clamp(1.4rem, 4cqw, 4rem);
  font-weight: 700;
  color: #7c6a0a;
  padding-top: 3cqw;
  padding-bottom: 3cqw;
}

.main__healthcare, .main__furniture {
  width: clamp(320px, 92vw, clamp(900px, 90vw, 1400px));
  margin-inline: auto;
}

.main__furniture {
  padding-top: 1rem;
}

.healthcare__wrapper, .furniture__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5cqw;
  max-width: 90vw;
  margin-inline: auto;
}
@media screen and (orientation: portrait) and (width < 573px) {
  .healthcare__wrapper, .furniture__wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: start;
    overflow-x: auto;
  }
}

@media screen and (orientation: portrait) and (width < 573px) {
  .furniture__wrapper::-webkit-scrollbar-thumb {
    background-color: #babd8d;
  }
  .furniture__wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #7c6a0a;
  }
}

.item {
  width: clamp(250px, 20cqw, 300px);
  border-radius: 8px;
  min-height: -moz-max-content;
  min-height: max-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: transform 500ms linear;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
}
@media screen and (orientation: portrait) and (width < 573px) {
  .item:has(.health, .furniture) {
    margin-bottom: 3cqb;
  }
}
.item:hover {
  transform: scale(1.025);
}

.card {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
}
.card .cards__icon-heart {
  display: flex;
  justify-content: flex-end;
}
.card .cards__icon-heart img {
  width: clamp(25px, 4.5cqw, 50px);
  align-self: flex-end;
}
.card > img {
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 240/300;
  margin-bottom: 5cqw;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}

.health {
  background-color: #ffdac6;
}
.health h3 {
  font-size: 2.75cqb;
  font-weight: 500;
  color: #7c6a0a;
}
.health p {
  font-size: 1.7cqb;
  font-weight: 400;
  color: #7c6a0a;
  letter-spacing: 0.5px;
}

.furniture {
  background-color: #babd8d;
}
.furniture h3 {
  font-size: 2.75cqb;
  font-weight: 500;
  color: #ffefe7;
}
.furniture p {
  font-size: 1.7cqb;
  font-weight: 400;
  color: #ffefe7;
  letter-spacing: 0.5px;
}

.about-us, .location, .gallery {
  padding-top: 2rem;
}

.location {
  padding-bottom: 1rem;
}

.about-us__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-us__info-environment,
.about-us__info-innovation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-width: 290px;
  width: clamp(290px, 45%, 1680px);
  container-type: inline-size;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.about-us__img {
  width: 40cqw;
  aspect-ratio: 1/1;
  padding: 1rem;
  transition: all 500ms linear;
}

:where(.about-us__info-environment:hover, .about-us__info-innovation:hover) > img {
  transform: scale(1.1);
  rotate: 5deg;
  box-shadow: 3px 3px 10px #ffdac6;
  border-radius: 50%;
  transition: all 500ms linear;
}

.about-us__p {
  font-size: 2.5cqb;
  font-weight: 400;
  color: #e86424;
  text-align: center;
  padding-inline: 0.5rem;
}

.gallery__wrapper {
  container-type: inline-size;
}

.gallery__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3cqw;
  flex-wrap: wrap;
}
.gallery__images img {
  width: clamp(250px, 25cqw, 380px);
  border-radius: 8px;
  aspect-ratio: 1/1;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  transition: transform 500ms ease-in, opacity 800ms ease-in;
}
.gallery__images img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.location__wrapper .location-img {
  width: 80vw;
  margin-inline: auto;
  overflow: hidden;
}
.location__wrapper .location-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  transition: transform 500ms ease;
  border-radius: 8px;
}
.location__wrapper .location-img img:hover {
  transform: scale(1.5) translate(50px, 50px);
}
.location__wrapper h3 {
  padding-top: 0.5rem;
  font-size: 3cqb;
  font-weight: 500;
  color: #e86424;
}
.location__wrapper p {
  font-size: 1.5cqb;
  font-weight: 400;
  color: #e86424;
}

.footer__wrapper {
  padding-block: 1rem;
  container-type: inline-size;
}
.footer__wrapper .footer__info {
  padding-bottom: 1rem;
}
.footer__wrapper .footer__info h3 {
  font-size: 4cqb;
  font-weight: 500;
  color: #fff8f5;
  padding-block: 0.3rem;
}
.footer__wrapper .footer__info p {
  font-size: 1.7cqb;
  font-weight: 400;
  color: #fff8f5;
  padding-left: 0.5rem;
}
.footer__wrapper .footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4cqb;
}
.footer__wrapper .footer__social-media img {
  width: clamp(25px, 4cqb, 60px);
}/*# sourceMappingURL=main.css.map */