// Variables -----------------------------------------------------------

$colour_olive-dark: #7c6a0a;
$colour_olive-ligth: #babd8d;
$colour_pink-dark: #ffdac6;
$colour_pink-light: #ffefe7;
$colour_pink-very-light: #fff8f5;
$colour_orange-dark: #e86424;
$colour_orange-light: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;

// Mixins --------------------------------------------------------------

@mixin mobile {
  @media screen and (orientation: portrait) and (width < 573px) {
    @content;
  }
}

@mixin horizontal-scroller($grid-auto-columns: auto) {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $grid-auto-columns;
  justify-content: start;
  overflow-x: auto;
}

@mixin svgStyle($color, $width, $height, $hovercolor: null) {
  svg {
    width: $width;
    height: $height;
    path {
      stroke: $color;
    }
  }
  svg:hover {
    fill: $hovercolor;
  }
}

@mixin box-shadow($offset, $blur, $color: rgba(0, 0, 0, 0.5)) {
  -webkit-box-shadow: $offset $offset $blur $color;
  -moz-box-shadow: $offset $offset $blur $color;
  box-shadow: $offset $offset $blur $color;
}

@mixin flex_dja($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
  }
}

@mixin font_swc($size, $weight, $colour) {
  font-size: $size;
  font-weight: $weight;
  color: $colour;
}

// Estilos generales ---------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 62.5%;
  // background-color: $colour_pink-light;
  color: $colour_olive-dark;
  font-family: $font-stack;
}

p,
a,
span {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* SCROLLBAR FASHION */

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: $colour_pink-very-light;
}

::-webkit-scrollbar-thumb {
  background-color: $colour_pink-dark;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $colour_orange-light;
}

// Estilo del contenedor

.body__wrapper {
  padding: 0cqw;
}

// General styles ==========================================================================

nav,
header,
main,
footer {
  padding: 2cqw 4cqw;
}

nav,
main {
  background-color: $colour_pink-light;
}
header {
  background-color: $colour_pink-very-light;
  padding-bottom: 2rem;
}

footer {
  background-color: $colour_orange-light;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

button {
  background: none;
  border-style: none;
}

// nav =============================================================================

.nav__wrapper {
  @include flex_dja(row, space-between, center);
  container-type: inline-size;

  & .nav-title {
    & h1 {
      @include font_swc(3cqb, 700, $colour_olive-dark);
      text-shadow: 0.2cqb 0.2cqb 1px $colour_olive-ligth;
    }
  }

  & .nav-menu {
    @include flex_dja(row, center, center);
    gap: 2cqw;

    & img {
      width: clamp(20px, 4.5cqw, 50px);
    }
  }
}

// header =============================================================================

.header__wrapper {
  @include flex_dja(row, space-between, center);
  flex-wrap: wrap-reverse;
  gap: 5%;
  container-type: inline-size;

  & .header__info {
    min-width: 290px;
    max-width: 50%;
    margin-inline: auto;

    & h2 {
      @include font_swc(clamp(1.75rem, 4cqw, 4rem), 700, $colour_olive-dark);
      padding-top: 3cqb;
      padding-bottom: 3cqb;
    }
    & p {
      @include font_swc(clamp(1rem, 2.5cqw, 2.5rem), 400, $colour_olive-dark);
      padding-bottom: 3cqb;
      line-height: 1.8;
    }
    & div {
      background-color: $colour_orange-light;
      width: clamp(220px, 24cqw, 300px);
      // min-width: fit-content;
      aspect-ratio: 4 / 1;
      margin-inline: auto;
      border-radius: 35px;
      text-align: center;
      container-type: inline-size;
      margin-top: 5cqw;
      display: grid;
      place-items: center;
      cursor: pointer;
      @include box-shadow(1px, 10px);
      box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
      transition: transform 500ms linear;

      &:hover {
          transform: scale(1.1);
        }

      & span {
        @include font_swc(clamp(1.1rem, 10cqi, 5rem), 400, #fff);
        display: inline-block;

        
      }
    }
  }

  & .header__image {
    // border: 1px solid black;
    min-width: 290px;
    max-width: 45%;
    width: clamp(290px, 45%, 450px);
    margin-inline: auto;

    & img {
      // border: 1px solid black;
      width: 100%;
      aspect-ratio: 7/9;
      object-fit: cover;
      border-radius: 24px;
      @include box-shadow(1px, 5px);
    }
  }
}

.main__wrapper {
  container-type: inline-size;
}

// main healthcare and furniture ===================================================================

.main-title {
  @include font_swc(clamp(1.4rem, 4cqw, 4rem), 700, $colour_olive-dark);
  padding-top: 3cqw;
  padding-bottom: 3cqw;
}

.main__healthcare {
  width: clamp(320px, 90vw, clamp(900px, 80vw, 1200px));
  // width: clamp(320px, 90vw, 1200px);
  margin-inline: auto;
}

.main__furniture {
  @extend .main__healthcare;
  padding-top: 1rem;
}

.healthcare__wrapper {
  @include flex_dja(null, space-around, null);
  flex-wrap: wrap;
  gap: 5cqw;
  max-width: 90vw;
  margin-inline: auto;

  @include mobile() {
    @include horizontal-scroller();
  }
}

.furniture__wrapper {
  @extend .healthcare__wrapper;

  @include mobile() {
    &::-webkit-scrollbar-thumb {
      background-color: $colour_olive-ligth;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: $colour_olive-dark;
    }
  }
}

.item {
  width: clamp(250px, 20cqw, 300px);
  border-radius: 8px;
  min-height: max-content;
  @include box-shadow(2px, 5px, rgba(0, 0, 0, 0.3));
  @include mobile() {
    &:has(.health, .furniture) {
      margin-bottom: 3cqb;
    }
  }

  cursor: pointer;

  transition: transform 500ms linear;
  &:hover {
    transform: scale(1.025);
  }

  container-type: inline-size;
  // dar al hijo 'card' la misma altura:
  @include flex_dja(column, null, null);
}

.card {
  // recibir al altura del padre 'item'
  flex: 1;
  border-radius: 8px;
  padding: 1rem;

  & .cards__icon-heart {
    @include flex_dja(null, flex-end, null);
    & img {
      width: clamp(25px, 4.5cqw, 50px);
      align-self: flex-end;
    }
  }

  & > img {
    width: 100%;
    border-radius: 4px;
    aspect-ratio: 240 / 300;
    margin-bottom: 5cqw;
    border-radius: 4px;
    @include box-shadow(1px, 2px);
    border-radius: 14px;
  }
}

// main just healthcare =============================================================================

.health {
  background-color: $colour_pink-dark;

  & h3 {
    @include font_swc(clamp(1.4rem, 8cqw, 2.75rem), 500, $colour_olive-dark);
  }

  & p {
    @include font_swc(clamp(.85rem, 5cqi, 1.7rem), 400, $colour_olive-dark);
    letter-spacing: 0.5px;
  }
}

// main just furniture ==========================================================================

.furniture {
  background-color: $colour_olive-ligth;

  & h3 {
    @include font_swc(clamp(1.4rem, 8cqw, 2.75rem), 500, $colour_pink-light);
  }

  & p {
    @include font_swc(clamp(.85rem, 5cqi, 1.7rem), 400, $colour_pink-light);
    letter-spacing: 0.5px;
  }
}

// main section about-us =============================================================================

.about-us {
  padding-top: 2rem;
}

.gallery {
  @extend .about-us;
}

.location {
  @extend .about-us;
  padding-bottom: 1rem;
}

.about-us__info {
  @include flex_dja(row, center, center);
  flex-wrap: wrap;
  gap: 2rem;
}
.about-us__info-environment,
.about-us__info-innovation {
  @include flex_dja(row, space-between, center);
  flex-grow: 1;
  min-width: 290px;
  width: clamp(290px, 45%, 1680px);
  container-type: inline-size;
}

.about-us__img {
  width: 40cqw;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  transition: all 500ms linear;
}

:where(.about-us__info-environment:hover, .about-us__info-innovation:hover) > img {
  transform: scale(1.1);
  rotate: 5deg;
  @include box-shadow(3px, 10px, $colour_pink-dark);
  border-radius: 50%;
  transition: all 500ms linear;
}

.about-us__p {
  @include font_swc(clamp(1.25rem, 4cqw, 2.5rem), 400, $colour_orange-dark);
  text-align: center;
  padding-inline: 0.5rem;
}

// main section gallety ===============================================================================

.gallery__wrapper {
  container-type: inline-size;
}

.gallery__images {
  @include flex_dja(row, center, center);
  gap: 3cqw;
  flex-wrap: wrap;

  & img {
    width: clamp(250px, 25cqw, 380px);
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    @include box-shadow(1px, 10px);
    opacity: 0.8;
    transition:
      transform 500ms ease-in,
      opacity 800ms ease-in;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}

// main section location ============================================================================

.location__wrapper {
  & .location-img {
    width: 80vw;
    margin-inline: auto;
    overflow: hidden;

    & img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 4px;
      transition: transform 500ms ease;
      border-radius: 8px;

      &:hover {
        transform: scale(1.5) translate(50px, 50px);
      }
    }
  }

  & h3 {
    padding-top: 0.5rem;
    @include font_swc(clamp(1.25rem, 4cqw, 2.5rem), 500, $colour_orange-dark);
  }
  & p {
    @include font_swc(clamp(.75rem, 2.5cqw, 1.5rem), 400, $colour_orange-dark);
  }
}

// footer ====================================================================================

.footer__wrapper {
  padding-block: 1rem;
  container-type: inline-size;
  & .footer__info {
    padding-bottom: 1rem;
    & h3 {
      @include font_swc(clamp(1.75rem, 4cqw, 2.5rem), 500, $colour_pink-very-light);
      padding-block: 0.3rem;
    }
    & p {
      @include font_swc(clamp(1rem, 2.5cqw, 1.5rem), 400, $colour_pink-very-light);
      padding-left: 0.5rem;
      line-height: 1.5;
    }
  }
  & .footer__social-media {
    @include flex_dja(row, center, center);
    gap: 4cqb;
    & img {
      width: clamp(25px, 4cqb, 60px);
    }
  }
}