body {
  background-color: rgb(220, 220, 200);
  }
  
  
.wrapper {
    
    border-radius: 2em;
    

    
    background-color: #e5e5f7;
    opacity: 0.9;
    background-image: radial-gradient(#333cdd 0.75px, #e5e5f7 0.75px);
    background-size: 15px 15px;
    
       
 }




  .a, .b {

    margin: 1px;
    font-size: 100%;
    text-align: center;
    
 

    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.3);

  }


 
 
  .c, .d {
   
    margin: 1px;
    font-size: 100%;
    text-align: center;
    
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.3);



  }

  .e {

    margin: 1px;
    font-size: 100%;
    text-align: center;
    
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.3);




  }


.a, .b, .c, .d, .e {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}
 
.a {
  
   
    padding-left: 5vw;
    padding-right: 5vw;

    font-size: 25px;
    

    
  }
  .b {
  
    
    padding-left: 5vw;
    padding-right: 5vw;

    font-size: 20px;
    
    
  }
  .c {

    font-style: oblique;
    padding-left: 5vw;
    padding-right: 5vw;

    font-size: 25px;
    
    
  }
  .d {

    padding-left: 5vw;
    padding-right: 5vw;
  }
  .e {

    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 25px;
    
  }
  

 #selectRate_in{
    
    
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

 }


 #selectCapit_In{
  background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
 }


  #selectPeriod_in{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
                
  }

  #selectRate_out{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   }
  
  
   #selectCapit_Out{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   }
  
  
    #selectPeriod_out{
      background: rgba(255, 255, 255, 0.19);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
                  
    }



#valueRate_in {
  border: 0px;
  border-radius: 50px;
  width: 7em;
  height: 2em;
  text-align: center;
  color: rgb(7, 7, 7);
  font-weight: bolder;
  font-size: 18px;
  background-color: rgba(250,250,250,0.9);

}

#seleccionarPeriodo {
  border: 0px;
  border-radius: 5%;
  
  height: 2em;
  text-align: center;
  
  font-style: oblique;
  background-color: rgba(250,250,250,0.6);
}
  
  h1 {
    color:#000;
    text-align: center;
    text-shadow: 1px 1px 20px #111;
  }  

 
  
  #demo {
    font-family: verdana;
    
    color: #000;
    text-align: center;
    font-size: 30px;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgb(255, 255, 0);
  }
  
  footer{
    text-align: center;
    color:#000;
    text-shadow: 5px 5px 5px #000;
  }



#centrar {
  text-align: center;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.1);
  
}

#nocentrar {
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.1);
}


#selectPeriod_in, #selectPeriod_out, #selectRate_in, #selectRate_out, #selectCapit_In, #selectCapit_Out {
  height: 30px;
  width: auto;
  font-size: 15px;
  
}

#showIn {
  display: none;
  font-size: 15px;
}

#showOut {
  display: none;
  font-size: 15px;
}


