* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(12px + 0.5vw);
  background-color: #000;
}

.contenedor {
  width: 90vw;
  min-height: 98vh;
  
  margin: 1rem auto;

  /* crear 6 filas y 3 columnas  */
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto); /* 6 filas de tamaño automático */

  grid-template-areas: "header header header header"
                       "tengo tengo tengo tengo"
                       "quiero quiero quiero quiero"
                       "widget-1 widget-1 widget-2 widget-2"
                       "widget-3 widget-3 widget-4 widget-4"
                       "footer footer footer footer";
}

/* Acceder div que están dentro de la clase contenedor */
.contenedor > div,
.contenedor .header,
.contenedor .tengo,
.contenedor .quiero,
.contenedor .footer {
  background: #fff;
  padding: 2rem;
  border-radius: 2rem;
}

.contenedor .header {
  grid-area: header; /* ver en .contenedor*/
  font-size: 1rem;
  background-color: #181D31;
  color: #fff;
  
  /* grid-column-start: 1;
  grid-column-end: -1; Si le coloco "-1" abarca todo el espacio disponible, sino "4" */

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contenedor .tengo {
  grid-area: tengo;
  background: #E6DDC4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  font-size: 2rem;
 
}

.contenedor .quiero {
  grid-area: quiero;
  background: #E6DDC4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  font-size: 2rem;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 2rem;
  
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 2px 2px 5px black, -2px -2px 5px black;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;

  transition: background-color .5 ease;
}

input:hover {
  background-color: #181D31;
  transition: background-color .5 ease;
}

#texto-ingresar {

  font-size: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  
  height: 3.5rem;
  box-shadow: 1px 1px 10px #181D31;
  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#valueRate_in {
  height: 2rem;
  width: 8rem;
  font-size: 1.5rem;
}



.contenedor .widget-1 {
  grid-area: widget-1;
  background-color: #181D31;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

h4 {
  font-size: 2rem;
}

.contenedor .widget-2 {
  grid-area: widget-2;
  background-color: #181D31;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 1px 1px 10px 1px #F0E9D2, -1px -1px 10px 1px #F0E9D2;
}

#demo {
  text-align: center;
  font-size: 1.5rem;
  transition: color 1s ease-in;
  transition: font-size 1s ease-in;
}

#demo:hover {
  color: yellow;
  transition: color 1s ease-out;

  font-size: 1.55rem;
  transition: font-size 1s ease-out;
}

.contenedor .widget-3 {
  grid-area: widget-3;
  
  background-color: #F0E9D2;
  color: #000;
  font-size: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-3 p {
  text-align: center;
  padding: .1rem;
}

.contenedor .widget-4 {
  grid-area: widget-4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0E9D2;

  
}

.contenedor .widget-4 p {
  display: flex;
}

.contenedor .widget-4 a {
  font-size: 1rem;
  text-align: center;
}

.contenedor .footer {
  background: #181D31;;
  color: #fff;
  /* grid-column: 1 / -1; */
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
}

select {
  height: 3rem;
  font-size: 1rem;
  box-shadow: +4px +4px 10px #181D31,
              -4px -4px 10px #181D31;
  border-radius: 1rem;
  margin: .3rem;
  text-align: center;

  border: none;

  transition: border-radius .5s ease;
}

select:hover {
  border-radius: .5rem;
  transition: border-radius .5s ease;
}




#showIn,
#showOut {
  display: none;
  font-size: 1.5rem;
}


form {
  box-shadow: 4px 4px 30px red, -4px -4px 30px red;
  border-radius: 30px;
  width: 100px;
}


@media screen and (min-width: 1025px) {
  .contenedor {
      /* grid-template-rows: repeat(2, auto); 6 filas de tamaño automático */
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "header    header    header"
                           "tengo     quiero    widget-1"
                           "tengo     quiero    widget-2"
                           "widget-3  widget-3  widget-4"
                           "footer    footer    footer";
      width: 70vw;
  }
}