* {
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 90vw;
  
  min-height: 98vh;
  
  
  /* max-width: 1000px; */
  margin: 1vh auto;

  /* crear 6 filas y 3 columnas  */
  display:grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto); /* 6 filas de tamaño automático */

  grid-template-areas: "header header header"
                       "tengo tengo tengo"
                       "quiero quiero quiero"
                       "widget-1 widget-1 widget-2"
                       "widget-3 widget-3 widget-4"
                       "footer footer footer";
}

/* Acceder div que están dentro de la clase contenedor */
.contenedor > div,
.contenedor .header,
.contenedor .tengo,
.contenedor .quiero,
.contenedor .footer {
  background: #fff;
  padding: 1vw;
  border-radius: 5vw;
}

.contenedor .header {
  grid-area: header; /* ver en .contenedor*/
  font-size: 3vw;
  background-color: #181D31;
  color: #fff;
  
  /* grid-column-start: 1;
  grid-column-end: -1; Si le coloco "-1" abarca todo el espacio disponible, sino "4" */

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contenedor .tengo {
  grid-area: tengo;
  background: #E6DDC4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  font-size: 4vw;
 
}

.contenedor .quiero {
  grid-area: quiero;
  background: #E6DDC4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
  font-size: 4vw;
  
}

input {
  width: 20vw;
  text-align: center;
  font-size: 3vw;
}

#valueRate_in {
  height: 4vw;
}

.contenedor .widget-1 {
  grid-area: widget-1;
  background-color: #181D31;
  color: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.5vw;
}

.contenedor .widget-2 {
  grid-area: widget-2;
  background-color: #181D31;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.5vw;

  box-shadow: 4px 4px 30px red, -4px -4px 30px red;
}

.contenedor .widget-3 {
  grid-area: widget-3;
  
  background-color: #F0E9D2;
  color: #000;
  font-size: 3vw;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-3 p {
  text-align: center;
  padding: 2vw;
}

.contenedor .widget-4 {
  grid-area: widget-4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0E9D2;

  
}

.contenedor .widget-4 p {
  display: flex;
}

.contenedor .widget-4 a {
  font-size: 3.5vw;
  text-align: center;
}

.contenedor .footer {
  background: #12203e;
  color: #fff;
  /* grid-column: 1 / -1; */
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5vw;
}

select {
  height: 5vw;
  font-size: 2.5vw;
}

#showIn,
#showOut {
  display: none;
  font-size: 3.5vw;
}


@media screen and (min-width: 768px) {
  .contenedor {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header    header    header    header"
                           "tengo     tengo     quiero    quiero"
                           "tengo     tengo     quiero    quiero"
                           "widget-1  widget-2  widget-4  widget-4"
                           "widget-3  widget-3  widget-4  widget-4"
                           "footer    footer    footer    footer";
  }
}