* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --denim: #0e7ecd;
  --pacific_blue: #0099cc;
  --deep_cerulean: #0071b3;
  --congress_blue: #004c8a;
  --midnigth_blue: #003461;

  --summer1: rgb(0, 129, 201);
  --summer2: rgb(91, 192, 248);
  --summer3: rgb(134, 229, 255);
  --summer4: rgb(255, 201, 60);
}

body {
  /* background-image: url("./img/DALL·E.png"); */
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  }

  html {
    /* font-size: calc(10px + 0.5vw); */
    font-size: calc(0px + 1vw);
  }


#marco {
  width: auto;
  border-radius: 50%;
  
  /* background-image: url("./img/DALL·E.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  

  /* background-color: rgb(2,0,36); */
  background: linear-gradient(162deg, rgba(2,0,36,1) 0%,
                                      rgba(0,52,97,1) 35%,
                                      rgba(0,113,179,1) 65%,
                                      #6e34c5 100%);

  box-shadow: 
              +.1rem +.1rem 10rem 0rem #6e34c5, 
              +.1rem -.1rem 15rem 0rem #003461, 
              -.1rem +.1rem 15rem 0rem #003461, 
              -.1rem -.1rem 15rem 0rem #003461;
              
  padding-top: 3rem;
  padding-bottom: 3rem;
}



.contenedor {
  width: 90rem;
  margin: 1rem auto;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.titulo {
  background-color: var(--congress_blue);
  box-shadow: 2px 2px 15px 1px var(--summer3), -2px -2px 15px 1px var(--summer3);
  color: var(--summer4);
  border-radius: 2rem;
  width: 85rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  font-size: 12rem;
  letter-spacing: 1.01rem;
  text-shadow: 2px 2px 5px rgb(182 234 218 / 60%);
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.titulo-mapa {
  background-color: var(--congress_blue);
  box-shadow: 2px 2px 15px 1px var(--summer3), -2px -2px 15px 1px var(--summer3);
  color: var(--summer4);
  border-radius: 2rem;
  width: 95rem;
  height: 3em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 5rem;
  letter-spacing: 1.01rem;
  text-shadow: 2px 2px 5px rgb(182 234 218 / 60%);
  animation: myAnim 2s ease 0s 1 normal forwards;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mapa {
  border: .1rem solid white;
  margin-top: 2rem;
  width: 75rem;
}

.subtitulo{
  background-color: rgb(3, 0, 28);
  border-radius: 2rem;
  box-shadow: 2px 2px 10px 0px rgb(182 234 218), -2px -2px 10px 0px rgb(182 234 218);
  width: 60rem;
  height: 9rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 5rem;
  animation: myAnim2 2s ease-in 0s 1 normal both;
}

.tarjetas {
  display: flex;
  gap: 1rem;
  animation: myAnim 2s ease 0s 1 normal forwards;
  
}


.tarjeta-de-mokepon {
  box-sizing: border-box;
  width: 30rem;
  height: 45rem;
  padding: 1rem;
  border: 0.5rem outset rgba(91, 143, 185, 0.3);
  margin: 0.5rem;
  border-radius: 4rem;
  background-color: rgba(91, 143, 185, 0.3);
  display: flex;
  align-items: center;
  font-family: 'Sassy Frass', cursive;
  font-size: 7rem;
  transition: all 0.5s ease-in-out;
  animation: myAnim 2s ease 0s 1 normal both;
  align-content: center;
  justify-content: center;
  color: var(--summer4);
  
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}
  
	82% {
    animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
    animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
    animation-timing-function: ease-out;
		transform: translateY(0px);
	}
  
	100% {
    animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.tarjeta-de-mokepon img {
  width: 25rem;
    opacity: .7;
    border-radius: 50%;
    position: relative;
}

.tarjeta-de-mokepon:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(255, 201, 60, 0.7),
              -5px -5px 20px rgba(255, 201, 60, 0.7),
             1px 1px 20px rgba(48, 30, 103, .9),
             -1px -1px 20px rgba(48, 30, 103, .9);
  background-color: rgba(91, 143, 185, 0.7);
  border: 5px outset rgba(91, 143, 185, 0.7);
  border-radius: 2rem;
}


input[type="radio"] {
  display: none;
}

input:checked+label {
  box-shadow: 5px 5px 20px rgba(255, 201, 60, 0.7),
             -5px -5px 20px rgba(255, 201, 60, 0.7),
             1px 1px 20px rgba(5, 5, 5, 0.7),
             -1px -1px 20px rgba(5, 5, 5, 0.7);
  background-color: rgba(91, 143, 185, 0.7);
  border: 5px outset rgba(91, 143, 185, 0.7);
  
  border-radius: 4rem;
}



#boton-mascota {
  box-sizing: border-box;
  width: 50rem;
  height: 12rem;
  /* padding: 9px; */
  border: 2px solid rgba(91, 143, 185, .7);
  /* margin-top: 0rem; */
  border-radius: 95% 5% 95% 5% / 5% 95% 5% 95%;
  color: aliceblue;
  background-color: rgba(3, 0, 28, .7);
  font-size: 5rem;
  font-family: 'Poppins';
  animation: myAnim2 2s ease-in 0s 1 normal both;
  transition: all 0.5s ease-in-out;
}

@keyframes myAnim2 {
  0% {
    opacity: 0;
	}
  
	100% {
    opacity: 1;
	}
}

#boton-mascota:hover {
  border-radius: 5% 95% 5% 95% / 95% 5% 95% 5%;
  background-color: rgba(91, 143, 185, .7);
  font-size: 6rem;
  color: black;
  box-shadow: +5px +5px +20px rgba(182, 234, 218, .7),
              -5px -5px +20px rgba(182, 234, 218, .7),
              +5px +1px +10px rgba( 91, 143, 185, .7),
              -1px -5px +10px rgba( 91, 143, 185, .7);

}


#seleccionar-ataque {
  min-height: 70vh;
  display: flex; /*En realidad no haría falta porque lo toma de mokepon.js*/
  flex-direction: column;
  align-items: center; /*Porque la dirección está en columnas*/
  justify-content: space-evenly;
}



.tarjetas, .tarjetas-ataques {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  
}

.tarjetas-ataques {
  flex-wrap: wrap;
}



.boton-de-ataque {
  width: 12rem;
  height: 12rem;
  /* padding: 1px; */
  border: 5px outset rgba(255,255,255,0.7);
  margin: 1rem;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);
  font-family: 'Sassy Frass', cursive;
  font-size: 7rem;
  transition: all 0.5s ease-in-out;
  animation: myAnim 2s ease 0s 1 normal both;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}



.boton-de-ataque:hover {
  cursor: pointer;
  background-color: rgba(136, 232, 9, 0.7);
}




#mensajes {
  width: 90rem;
  background-color: var(--midnigth_blue);
  box-shadow: 2px 2px 15px 1px var(--summer3), -2px -2px 15px 1px var(--summer4);
  color: whitesmoke;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 7rem;
  align-items: center;
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  letter-spacing: .8rem;
  min-height: 12rem;
  /* height: auto; */
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

}

#resultado {
  text-align: center;
  margin: 2rem;
  font-size: 5rem;
}

#boton-reiniciar {
  border: none;
  color: red;
  font-family: 'Fredoka One', cursive;
  font-size: 6rem;
  margin: 3rem;
  padding: 2rem;
  border-radius: 3rem;
  letter-spacing: 1rem;
  box-shadow: 1rem 1rem 5rem red, -1rem -1rem 5rem red;
  transition: all 0.5s ease-in-out;
}

#boton-reiniciar:hover {
  border-radius: 1rem;
  letter-spacing: 2rem;
  box-shadow: 1rem 1rem 5rem var(--summer4), -1rem -1rem 5rem var(--summer4);
  color: var(--summer4);
  background-color: #003461;
  transition: all 0.5s ease-in-out;
}

.ataques {
  display: grid;
  grid-template-columns: 30rem 20rem 30rem;
  text-align: center;
  margin-top: 6rem;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: rgb(50,50,50);
  border-radius: 3rem;
  padding-bottom: 2rem;
  background-color: rgba(255, 201, 60, .9);
  box-shadow: 5px 5px 20px rgb(255 201 60 / 90%),
             -5px -5px 20px rgb(91 143 185 / 70%),
              5px 5px 10px rgb(5 5 5 / 70%),
             -5px -5px 10px rgb(255 201 60 / 90%);
}

#ataques-del-enemigo > p {
  background-color:rgba(255, 201, 60, .3);
  border-radius: 1rem;
  margin: 3rem 0;
  font-size: 3rem;
}

#ataques-del-jugador > p {
  background-color:rgba(255, 201, 60, .3);
  border-radius: 1rem;
  margin: 3rem 0;
  font-size: 3rem;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 9rem;
}

#mascota-jugador, #mascota-enemigo {
  font-family: 'Sassy Frass', cursive;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 1px rgb(230 230 230 / 55%);
}

#vs {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: 'Sassy Frass', cursive;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 1rem rgb(255 0 0 / 80%);
}

@media (max-width: 300px) {
  .tarjetas, .tarjetas-ataques {
    flex-direction: column;
  }
  .ataques {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  
    font-size: 12px;
    letter-spacing: 5px;
  }
  #vs {
    font-size: 50px;
  }
    
}

@media (min-width: 1000px) {
  html {
    font-size: calc(0px + .7vw);
  }
}

@media (min-width: 1500px) {
  html {
    font-size: calc(0px + .5vw);
  }
}