:root {
  --azul-1: hsl(240, 100%, 95%);
  --azul-6: hsl(240, 100%, 3%);
  --rojo: hsl(0, 100%, 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-size: 62.5%;
  background-color: var(--azul-6);
}

.body-wrapper {
  padding-top: clamp(2rem, 10cqi, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--azul-1);
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  main {

    & .inputs {

      & .item {
        border-top: 2px solid var(--rojo);

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        padding-block: 1.5rem;

        & .item-p {
          font-size: clamp(1.2rem, 3cqw, 2rem);
          letter-spacing: 1.2px;
          flex: 1;
        }

        & .item-input {

          & .selection {
            display: inline-block;
            width: 130px;
            aspect-ratio: 3 / 1;

            & select {
              width: 100%;
              height: 100%;
              border-radius: 8px;
              text-align: center;
              font-size: clamp(1.4rem, 3cqw, 2rem);
            }
          }

        }
      }

      & :nth-child(3) {
        border-bottom: 2px solid var(--rojo);
      }
    }

    & .output {
      margin-top: 2rem;

      background-color: var(--rojo);
      border-radius: 8px;
      padding: 1rem;
      font-size: clamp(1rem, 3cqw, 2.5rem);

      & p {

        text-align: center;
        letter-spacing: 1.5px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        & span {
          color: var(--azul-1);
          font-weight: 900;
          font-size: clamp(1.5rem, 4cqw, 3rem);
        }
      }
    }
  }
}

.heart {
  width: 50px;
  aspect-ratio: 1/1;

  & svg {
    width: 100%;
    height: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-family: "Whisper";
  letter-spacing: 2px;
  font-size: clamp(1.5rem, 3cqw, 1.5rem);
  width: 100%;
  height: 7.5svh;
  background-color: var(--rojo);
  color: var(--azul-1);
  display: grid;
  place-items: center;
}