:root {
    --bitcoin-orange: hwb(33 11% 3%);
    --soft-orange: hwb(33 85% 3%);

    --secondary-blue: hwb(205 10% 3%);
    --soft-blue: hwb(205 90% 3%);

    --black: hwb(36 11% 87%);
    --warm-black: hwb(30 11% 87%);
    --warm-black-1: hwb(36 14% 84%);

    --grey: hwb(0 73% 27%);

    --off-white: hwb(24 96% 2%);
    --just-white: hwb(0 100% 0%);
}

html {
    scroll-behavior: smooth;
}


body {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* scroll-behavior: smooth; */
}

p, a, span {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* * ========= SCROLLBAR FASHION ========= */

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--off-white);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(33, 93%, 90%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(33, 93%, 54%);
}

/* * ========= HEADER ========= */

header {
    /* background-image: linear-gradient(207.8, #201E1C 16.69%, #F7931A 100%); */
    background-image: linear-gradient(210deg, var(--warm-black) 17%, var(--bitcoin-orange) 100%);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 320px;
    height: auto;
    /* min-height: 50vh; */

    & img {
        width: 200px;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
        /* align-self: center; */
    }

    & .__title-container {
        container-type: inline-size;
        text-align: center;
        width: clamp(288px, 90%, 700px);
        height: auto;
        margin-bottom: 60px;
        color: var(--off-white);

        &>h1 {
            font-size: 9cqi;
            font-weight: bold;
            margin-bottom: 2rem;
            color: var(--just-white);
        }

        &>p {
            font-size: 5cqi;
            font-weight: 300;
            line-height: 1.2;
            color: var(--soft-orange)
        }
    }

    & .__button {
        container-type: inline-size;

        cursor: pointer;

        background-color: var(--off-white);
        align-content: center;
        text-align: center;

        width: clamp(200px, 60%, 500px);
        height: 50px;
        position: absolute;
        bottom: -25px;

        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

        /* display: flex;
        align-items: center;
        justify-content: space-evenly; */

        display: grid;
        grid-template-columns: auto auto;
        place-items: center;

        &:hover {
            box-shadow: 1px 1px 10px 1px var(--warm-black);
        }

        & :first-child {
            color: var(--warm-black);
            font-family: "Inter";
            font-weight: 600;
            font-size: 6cqi;
        }

        & :last-child {
            background-image: url("./assets/icons/down-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 25px;
            height: auto;
        }
    }
}

/* * ========= TITULOS: COINS & COMISSION ========= */

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);

    & .exchange {
        width: 100%;
        height: auto;

        & .__backgr-img {
            /* background-image: url("./assets/img/Bitcoin.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; */

            width: clamp(250px, 80%, 400px);
            aspect-ratio: 1 / 1;
            margin-inline: auto;

            & img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
        }

        & .__title-exchange {
            container-type: inline-size;
            width: 90%;
            width: clamp(250px, 100%, 800px);

            margin-inline: auto;


            & :is(h2, p) {
                text-align: center;
                align-content: center;
            }

            &>h2 {
                font-size: 7cqw;
                padding: 5cqw;
            }

            &>p {
                font-size: 4cqw;
                padding: 3cqw;
            }
        }
    }
}

/* * ========= TABLAS COINS & COMISSION ========= */

:is(.__coins-container, .__comission-container) {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(320px, 80%, 600px);
    aspect-ratio: 2 / 1;
    margin-inline: auto;
    border-radius: 10px;

    padding-top: 1rem;
    padding-bottom: 3rem;

    & .table-title {
        color: var(--bitcoin-orange);
        font-size: 4.5cqw;
        padding-left: .5rem;
    }

    & .__table-container {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;

        & table {
            background-color: var(--off-white);
            border-radius: 10px;
            font-size: 5cqw;
            font-family: "Inter";
            color: var(--warm-black);

            & tr {
                background-color: var(--just-white);
                border-collapse: collapse;

                & td {
                    padding: .5rem;
                    border-collapse: var(--bitcoin-orange);

                    &[data-cell="value"] {
                        text-align: right;
                        padding-left: 2rem;
                    }

                    &[data-cell="coin"] {
                        text-align: left;
                        padding-right: 2rem;
                    }

                    &[data-cell="trend"] {
                        text-align: left;
                        padding: 0 1rem;
                    }
                }
            }
        }

        & .table-arrow {
            margin-left: .5rem;
            background-color: var(--just-white);

            & img {
                cursor: pointer;
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 1px 1px 1px var(--warm-black);
            }

            & img:hover {
                box-shadow: -1px -1px 1px var(--warm-black);
            }
        }
    }

    & :has(#left-arrow) {
        & .table-title {
            color: var(--secondary-blue);
        }

        & img {
            transform: scaleX(-1);
        }
    }

    & .actualizacion {
        background-color: var(--soft-orange);
        margin-top: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 5px;
        width: clamp(170px, 50%, 600px);
        text-align: center;
        container-type: inline-size;
        align-content: center;

        & .refresh-text {
            font-weight: 700;
            font-size: 6cqw;
        }

        & .refresh-date {
            font-weight: 300;
            font-size: 5.5cqw;
        }
    }
}

/* * ========= TARJETAS ========= */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 1rem;
    width: clamp(320px, 75%, 700px);
    margin-inline: auto;

    & .__container {


        & .__detail {
            container-type: inline-size;

            margin-top: 1rem;
            width: clamp(288px, 70%, 500px);
            aspect-ratio: 16/8;
            margin-inline: auto;

            background-color: var(--warm-black-1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
            border-radius: 5px;
            padding: .8rem;

            & :nth-child(2) {
                font-weight: 700;
                font-size: 7.5cqw;
                margin-bottom: 1rem;
            }

            & :nth-child(3) {
                color: #808080;
                font-weight: 500;
                font-size: 4.5cqw;
                line-height: 1.5;
                letter-spacing: .1ch;
            }
        }
    }
}

.info-card {
    background-color: var(--black);
    color: var(--off-white);
    position: relative;

    padding-bottom: 3rem;

    & .batata-icon {

        position: absolute;
        width: 100%;
        top: -1rem;
        display: flex;
        justify-content: center;
    }

    & .__title {
        container-type: inline-size;
        padding-top: 2rem;
        width: clamp(288px, 70%, 700px);
        margin-inline: auto;

        text-align: center;

        &>h2 {
            font-weight: 700;
            font-size: 9cqw;
            margin-bottom: 1rem;
        }

        &>p {
            font-weight: 500;
            font-size: 5cqw;
            color: var(--grey);
        }
    }


}

.bitcoin-lady {
    background-color: var(--warm-black);
    padding-bottom: 0rem;

    & .bitcoin-lady__container {
        display: flex;
        justify-content: center;
        position: relative;


        & .bitcoin-lady__img {
            width: clamp(50px, 100%, 400px);
            object-fit: cover;
        }

        & .bitcoin-lady__text {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: var(--off-white);
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}


/* * ========= PLANES ========= */

.main-plans {
    padding-top: 2rem;
    padding-bottom: 2rem;

    & .__container {
        width: 100%;

        height: auto;

        & .title {
            width: clamp(288px, 70%, 700px);
            container-type: inline-size;
            margin-inline: auto;
            text-align: center;

            &>h2 {
                font-size: 8cqw;
                font-weight: 700;
                padding-bottom: 1rem;

            }

            &>p {
                font-size: 4.75cqw;
                font-weight: 500;
                padding-bottom: 3rem;
            }
        }

        & .slider {
            container-type: inline-size;

            width: clamp(288px, 90%, 800px);
            margin-inline: auto;

            height: fit-content;
            text-align: center;

            display: grid;
            grid-template-columns: auto 1fr auto;


            & .slider__left-row {

                width: calc(1rem + 1cqw);
                color: var(--grey);
                font-size: calc(1rem + 1cqw);
                align-content: center;
                background-color: var(--off-white);
                border-radius: 8px 0 0 8px;
                /* box-shadow: 0 4px 8px rgba(0, 0, 0, .16); */
            }

            & .slider__right-row {
                width: calc(1rem + 1cqw);
                color: var(--grey);
                font-size: calc(1rem + 1cqw);
                align-content: center;
                background-color: var(--off-white);
                border-radius: 0 8px 8px 0;
                /* box-shadow: 0 4px 8px rgba(0, 0, 0, .16); */
            }

            & .plans-container__card-reco {
                background-color: var(--off-white);
                /* width: clamp(500px, 95%, 600px); */
                width: 95%;
                margin-inline: auto;

                position: relative;
                container-type: inline-size;

                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
                padding-top: 1rem;
                padding-bottom: 1rem;

                & .recomended {
                    background-color: var(--bitcoin-orange);
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    font-size: 6cqw;
                    font-weight: 700;
                    padding: .3rem;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
                    color: var(--off-white);

                    & .plan-card__title {
                        color: var(--black);
                    }
                }

                & .plan-info__container {
                    container-type: inline-size;



                    & .plan-card__title {
                        font-size: 7cqw;
                        font-weight: 700;
                        padding-top: 4cqw;
                        padding-bottom: 4cqw;
                    }

                    & .plan-card__price {
                        font-family: "Inter", sans-serif;
                        font-weight: 500;
                        font-size: 25cqw;

                        & sup {
                            font-size: 8cqw;
                        }
                    }

                    & .plan-card__saving {
                        font-family: "Inter", sans-serif;
                        font-weight: 500;
                        font-size: 6cqw;
                        padding: 0 8cqw 16cqw;
                    }

                    & .plan-card__ca {
                        border-color: var(--bitcoin-orange);
                        background-color: var(--just-white);
                        border-radius: 4px;
                        box-shadow: 0 4px 4px var(--bitcoin-orange);
                        padding: 0 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        margin-inline: auto;

                        width: clamp(160px, 80%, 260px);
                        aspect-ratio: 16/3;

                        container-type: inline-size;

                        &:hover {
                            box-shadow: -1px -1px 1px black;
                        }

                        & .saving-text {
                            font-size: 11cqw;
                            font-weight: 700;
                        }

                        & .flechita {
                            display: flex;
                        }
                    }
                }
            }

            & .plans-container__card {
                background-color: var(--off-white);
                /* width: clamp(200px, 95%, 300px); */
                width: 95%;
                margin-inline: auto;

                position: relative;
                container-type: inline-size;

                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
                padding-top: 1rem;
                padding-bottom: 1rem;

                & .plan-info__container {
                    container-type: inline-size;


                    & .plan-card__title {
                        font-size: 7cqw;
                        font-weight: 700;
                        padding-top: 4cqw;
                        padding-bottom: 4cqw;
                    }

                    & .plan-card__price {
                        font-family: "Inter", sans-serif;
                        font-weight: 500;
                        font-size: 25cqw;
                        color: var(--grey);


                        & sup {
                            font-size: 8cqw;
                        }
                    }

                    & .plan-card__saving {
                        font-family: "Inter", sans-serif;
                        font-weight: 500;
                        font-size: 6cqw;
                        padding: 0 8cqw 16cqw;
                        color: var(--grey);
                    }

                    & .plan-card__ca {
                        border-color: var(--grey);
                        background-color: var(--just-white);
                        border-radius: 4px;
                        padding: 0 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        margin-inline: auto;

                        width: clamp(160px, 80%, 260px);
                        aspect-ratio: 16/3;

                        container-type: inline-size;

                        & .saving-text {
                            font-size: 11cqw;
                            font-weight: 700;
                            color: var(--grey);
                        }

                        & .flechita {
                            display: flex;
                        }
                    }
                }
            }


        }
    }
}

/* *=========================================================* */

.plans-container__wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .03);
    /* overscroll-behavior-x: contain; */
    /* scroll-snap-type: x proximity; */
}

.plans-container__wrapper::-webkit-scrollbar {
    height: 0;
}


.plans-container__wrapper .item {
    min-width: clamp(180px, 75%, 200px);
    min-height: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}