:root {
    --bitcoin-orange: hwb(33 11% 3%);
    --soft-orange: hwb(33 85% 3%);

    --secondary-blue: hwb(205 10% 3%);
    --soft-blue: hwb(205 90% 3%);

    --black: hwb(36 11% 87%);
    --warm-black: hwb(30 11% 87%);
    --warm-black-1: hwb(36 14% 84%);

    --grey: hwb(0 73% 27%);

    --off-white: hwb(24 96% 2%);
    --just-white: hwb(0 100% 0%);
}

/* html */
body {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    /* scroll-behavior: smooth; */
}

p, a, span {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--off-white);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(33, 93%, 90%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(33, 93%, 54%);
}

header {
    /* background-image: linear-gradient(207.8, #201E1C 16.69%, #F7931A 100%); */
    background-image: linear-gradient(210deg, var(--warm-black) 17%, var(--bitcoin-orange) 100%);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 320px;
    height: auto;
    /* min-height: 50vh; */

    & img {
        width: 200px;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
        /* align-self: center; */
    }

    & .__title-container {
        container-type: inline-size;
        text-align: center;
        width: clamp(288px, 90%, 700px);
        height: auto;
        margin-bottom: 60px;
        color: var(--off-white);

        & h1 {
            font-size: 9cqi;
            font-weight: bold;
            margin-bottom: 2rem;
            color: var(--just-white);
        }

        & p {
            font-size: 5cqi;
            font-weight: 300;
            line-height: 1.2;
            color: var(--soft-orange)
        }
    }

    & .__button {
        container-type: inline-size;

        cursor: pointer;

        background-color: var(--off-white);
        align-content: center;
        text-align: center;

        width: clamp(200px, 60%, 500px);
        height: 50px;
        position: absolute;
        bottom: -25px;

        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

        /* display: flex;
        align-items: center;
        justify-content: space-evenly; */

        display: grid;
        grid-template-columns: auto auto;
        place-items: center;

        &:hover {
            box-shadow: 1px 1px 10px 1px var(--warm-black);
        }

        & :first-child {
            color: var(--warm-black);
            font-family: "Inter";
            font-weight: 600;
            font-size: 6cqi;
        }

        & :last-child {
            background-image: url("./assets/icons/down-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            width: 25px;
            height: auto;
        }
    }
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);

    & .exchange {
        width: 100%;
        height: auto;

        & .__backgr-img {
            /* background-image: url("./assets/img/Bitcoin.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat; */

            width: clamp(250px, 80%, 400px);
            aspect-ratio: 1 / 1;
            margin-inline: auto;

            & img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
        }

        & .__title-exchange {
            container-type: inline-size;
            width: 90%;
            width: clamp(250px, 100%, 800px);

            margin-inline: auto;


            & :is(h2, p) {
                text-align: center;
                align-content: center;
            }

            & h2 {
                font-size: 7cqw;
                padding: 5cqw;
            }

            & p {
                font-size: 4cqw;
                padding: 3cqw;
            }
        }
    }
}

:is(.__coins-container, .__comission-container) {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(320px, 80%, 600px);
    aspect-ratio: 2 / 1;
    margin-inline: auto;
    border-radius: 10px;

    /* background-color: red; */
    padding-top: 4rem;
    padding-bottom: 5rem;

    & .table-title {
        color: var(--bitcoin-orange);
        font-size: 4.5cqw;
        padding-left: .5rem;
    }

    & .__table-container {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;

        & table {
            background-color: var(--off-white);
            border-radius: 10px;
            font-size: 5cqw;
            font-family: "Inter";
            color: var(--warm-black);

            & tr {
                background-color: var(--just-white);
                border-collapse: collapse;

                & td {
                    padding: .5rem;
                    border-collapse: var(--bitcoin-orange);

                    &[data-cell="value"] {
                        text-align: right;
                        padding-left: 2rem;
                    }

                    &[data-cell="coin"] {
                        text-align: left;
                        padding-right: 2rem;
                    }

                    &[data-cell="trend"] {
                        text-align: left;
                        padding: 0 1rem;
                    }
                }
            }
        }

        & .table-arrow {
            margin-left: .5rem;
            background-color: var(--just-white);

            & img {
                cursor: pointer;
                padding: 1rem;
                border-radius: 5px;
                box-shadow: 1px 1px 1px var(--warm-black);
            }

            & img:hover {
                box-shadow: -1px -1px 1px var(--warm-black);
            }
        }
    }

    & :has(#left-arrow) {
        & .table-title {
            color: var(--secondary-blue);
        }

        & img {
            transform: scaleX(-1);
        }
    }

    & .actualizacion {
        background-color: var(--soft-orange);
        margin-top: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: 5px;
        width: clamp(170px, 50%, 600px);
        text-align: center;
        container-type: inline-size;
        align-content: center;

        & .refresh-text {
            font-weight: 700;
            font-size: 6cqw;
        }

        & .refresh-date {
            font-weight: 300;
            font-size: 5.5cqw;
        }
    }
}

.info-card {
    background-color: var(--black);
    color: var(--off-white);
    position: relative;

    padding-bottom: 3rem;

    & .batata {

        position: absolute;
        width: 100%;
        top: -1rem;
        display: flex;
        justify-content: center;
    }

    & .__title {
        container-type: inline-size;
        padding-top: 2rem;
        /* background-color: steelblue; */
        width: clamp(288px, 70%, 700px);
        margin-inline: auto;

        text-align: center;

        & h2 {
            font-weight: 700;
            font-size: 9cqw;
            margin-bottom: 1rem;
        }

        & p {
            font-weight: 500;
            font-size: 5cqw;
        }
    }

    & .__container {

        & .__detail {
            background-color: var(--warm-black-1);
            container-type: inline-size;

            margin-top: 1rem;
            width: clamp(288px, 70%, 500px);
            aspect-ratio: 16/8;
            margin-inline: auto;
            border-radius: 5px;
            padding: .8rem;

            & :nth-child(2) {
                font-weight: 700;
                font-size: 7.5cqw;
                margin-bottom: 1rem;

            }

            & :nth-child(3) {
                font-weight: 300;
                font-size: 5.5cqw;
                line-height: 1.5;
            }
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    width: 100%;
    margin-inline: auto;
}